# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc

# Ignore macOS system files
.DS_Store

# Ignore environment-specific configuration files
.env

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore generated build artifacts
/build/
/dist/
